body
{text-align: left;}
form
{
  background-color: rgb(255, 255, 255);
  padding: 40px;
}
h2{
  color: black;
}
h5{
  text-align: left;
  color: black;
  margin: 0px;
}
input[type=text], input[type=password] {
  width: 400px;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.button1 {
  background-color: rgb(48, 154, 240);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 300px;
  font-size: large;
  font-weight: bold;
  margin-left: -100px;
  border-radius: 5px;
}
#forgot
{
  font-size: 15px;
  text-align: right;
}